.fondo {
  background-color: black!important;
}

i {
  color:white;
}

.bi {
color: rgb(255, 255, 255)!important;
}

.input-group-text {
  background-color: rgb(0, 0, 0)!important;
  color: white!important;
}

.container {
  background-color: black!important;
}

img {
  width: 100%;
}

.btn {
  background-color: red!important;
  border: none;
}

.btn:hover {
  background-color: black!important;
  transition: background-color .5s;
}



